@model FieldEditViewModel
@{
    ViewData["Title"] = "編輯欄位";
    var eventId = Context.Request.RouteValues["eventId"];
    var fieldId = Context.Request.RouteValues["fieldId"];
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css"
              asp-fallback-href="~/lib/bulma-switch/dist/css/bulma-switch.min.css"
              asp-fallback-test-class="switch"
              integrity="sha256-jCV/cXwP13w0GNHLgFx6SFgTNAvJPvS5MIhuE30Ng08=" crossorigin="anonymous">
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Index">管理活動</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-eventId="@eventId">活動詳情</a></li>
        <li><a asp-area="" asp-controller="Field" asp-action="Index" asp-route-eventId="@eventId">管理欄位</a></li>
        <li><a asp-area="" asp-controller="Field" asp-action="Detail" asp-route-eventId="@eventId" asp-route-fieldId="@fieldId">欄位詳情</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Field" asp-action="Edit" asp-route-eventId="@eventId" asp-route-fieldId="@fieldId" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<div class="notification is-warning is-light">
    <button class="delete"></button>
    若欄位為可被搜尋則參與者對應此欄位的值<strong>不能為空</strong><br />
    若欄位為顯示則<strong>抽獎時</strong>此欄位會顯示出來<br />
    若欄位為機密則抽獎時此欄位會被<strong>隱藏部分資訊</strong>
</div>
<h1 class="title is-3">@ViewData["Title"]</h1>
<hr />
<div class="box">
    <form asp-area="" asp-controller="Field" asp-action="Edit" asp-route-eventId="@eventId" asp-route-fieldId="@fieldId" method="post" role="form">
        <div class="field mb-5">
            <input asp-for="Key" class="switch is-rounded is-rtl" type="checkbox" />
            <label asp-for="Key" class="label">搜尋</label>
            <span asp-validation-for="Key" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <input asp-for="Show" class="switch is-rounded is-rtl" type="checkbox" />
            <label asp-for="Show" class="label">顯示</label>
            <span asp-validation-for="Show" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <input asp-for="Security" class="switch is-rounded is-rtl" type="checkbox" />
            <label asp-for="Security" class="label">機密</label>
            <span asp-validation-for="Security" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Value" class="label">值</label>
            <div class="control">
                <input asp-for="Value" class="input" type="text" placeholder="請輸入值" />
            </div>
            <span asp-validation-for="Value" class="help is-danger"></span>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-info" type="submit">修改</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}