@model EventViewModel
@{
    ViewData["Title"] = "活動詳情";
    var eventId = @Context.Request.RouteValues["eventId"];
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Index">管理活動</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-eventId="@eventId" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<div class="is-flex is-justify-content-space-between">
    <h1 class="title is-3">@ViewData["Title"]</h1>
    <div class="dropdown is-right">
        <div class="dropdown-trigger">
            <button class="button is-info is-outlined" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>操作</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a asp-area="" asp-controller="Pool" asp-action="Index" asp-route-eventId="@eventId" class="dropdown-item">管理獎池</a>
                <hr class="dropdown-divider" />
                <a asp-area="" asp-controller="Activity" asp-action="Index" class="dropdown-item">查看活動頁面</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="box">
    <form role="form">
        <div class="field mb-5">
            <label asp-for="Id" class="label">識別碼</label>
            <div class="control has-icons-left">
                <input asp-for="Id" class="input" type="text" placeholder="請輸入識別碼" disabled />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
            <span asp-validation-for="Id" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Status" class="label">狀態</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<EventStatus>()" disabled></select>
                </div>
            </div>
            <span asp-validation-for="Status" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Title" class="label">標題</label>
            <div class="control">
                <input asp-for="Title" class="input" type="text" placeholder="請輸入標題" disabled/>
            </div>
            <span asp-validation-for="Title" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="SubTitle" class="label">副標題</label>
            <div class="control">
                <textarea asp-for="SubTitle" class="textarea" placeholder="請輸入副標題" disabled></textarea>
            </div>
            <span asp-validation-for="SubTitle" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Url" class="label">網址</label>
            <div class="control">
                <input asp-for="Url" class="input" type="text" placeholder="請輸入網址" disabled/>
            </div>
            <p class="help">活動網址為 https://sscurl.fcu.edu.tw/event/ 加上上面所輸入網址</p>
            <span asp-validation-for="Url" class="help is-danger"></span>
        </div>
        <div class="field">
            <div class="control">
                <a asp-area="" asp-controller="Event" asp-action="Edit" asp-route-eventId="@eventId" class="button is-link">編輯</a>
                <button id="delete-button" class="button is-danger" type="button">刪除</button>
            </div>
        </div>
    </form>
</div>
<div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <form asp-area="" asp-controller="Event" asp-action="Delete" asp-route-eventId="@eventId" method="post" role="form" class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">您確定要刪除?</p>
            <button class="delete" aria-label="close" data-bulma-modal="close" type="button"></button>
        </header>
        <section class="modal-card-body">
            <article class="message is-danger">
                <div class="message-body">
                    <strong>請注意</strong>，此操作無法復原<br />
                    與此活動相關資料將會一併被刪除，包含獎池、參與者、獎品
                </div>
            </article>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" type="submit">確定</button>
            <button id="cancel-button" class="button" aria-label="close" type="button">取消</button>
        </footer>
    </form>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/delete-modal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/delete-modal.min.js" asp-append-version="true"></script>
    </environment>
}