@model PaginatedList<EventViewModel>
@{
    ViewData["Title"] = "活動列表";
}

<nav class="panel is-dark">
    <p class="panel-heading">@ViewData["Title"]</p>
    <form asp-area="" asp-controller="Event" asp-action="List" method="get" class="panel-block is-block">
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <input class="input" type="text" name="search" placeholder="搜尋" value="@Context.Request.Query["search"]" />
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary">搜尋</button>
            </div>
        </div>
    </form>
    @foreach (var item in Model)
    {
        <a asp-area="" asp-controller="Event" asp-action="Display" asp-route-eventId="@item.Id" class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            @item.Title
        </a>
    }
    <nav class="panel-block pagination is-centered" role="navigation" aria-label="pagination">
        <a asp-area="" asp-controller="Manage" asp-action="Event" asp-route-page="@(Model.PageIndex-1)" disabled="@(Model.HasPreviousPage == false)" class="pagination-previous">上一頁</a>
        <a asp-area="" asp-controller="Manage" asp-action="Event" asp-route-page="@(Model.PageIndex+1)" disabled="@(Model.HasNextPage == false)" class="pagination-next">下一頁</a>
        <ul class="pagination-list">
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" asp-route-page="@Model.PageIndex" class="pagination-link is-current" aria-current="page">@Model.PageIndex / @Model.TotalPages</a></li>
        </ul>
    </nav>
</nav>