@model PaginatedList<ParticipantViewModel>
@{
    ViewData["Title"] = "管理參與者";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-responsive-tables@1.2.3/css/main.min.css"
          asp-fallback-href="~/lib/bulma-responsive-tables/css/main.min.css"
          asp-fallback-test-class="b-table"
          integrity="sha256-qqSeWOTrQzPLIhRfuz3KWtWjWqI9X60r0piSbhCdNKY=" crossorigin="anonymous">
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Event">管理活動</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="EventDetail" asp-route-eventId="@Context.Request.RouteValues["eventId"]">活動詳情</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Pool" asp-route-eventId="@Context.Request.RouteValues["eventId"]">管理獎池</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="PoolDetail" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]">獎池詳情</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="Participant" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>