@model PaginatedList<ParticipantViewModel>
@{
    ViewData["Title"] = "管理參與者";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-responsive-tables@1.2.3/css/main.min.css"
          asp-fallback-href="~/lib/bulma-responsive-tables/css/main.min.css"
          asp-fallback-test-class="b-table"
          integrity="sha256-qqSeWOTrQzPLIhRfuz3KWtWjWqI9X60r0piSbhCdNKY=" crossorigin="anonymous">
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Event">管理活動</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="EventDetail" asp-route-eventId="@Context.Request.RouteValues["eventId"]">活動詳情</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Pool" asp-route-eventId="@Context.Request.RouteValues["eventId"]">管理獎池</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="PoolDetail" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]">獎池詳情</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="Participant" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<div class="is-flex is-justify-content-space-between">
    <h1 class="title is-3">@ViewData["Title"]</h1>
    <div class="dropdown is-right">
        <div class="dropdown-trigger">
            <button class="button is-info is-outlined" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>操作</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a asp-area="" asp-controller="Manage" asp-action="Field" asp-route-eventId="@Context.Request.RouteValues["eventId"]" class="dropdown-item">管理欄位</a>
                <a class="dropdown-item">新增參與者</a>
                <a class="dropdown-item">匯入參與者</a>
                <hr class="dropdown-divider" />
                <a asp-area="" asp-controller="Event" asp-action="Index" class="dropdown-item">查看活動頁面</a>
            </div>
        </div>
    </div>
</div>
<hr />