@model PoolEditViewModel
@{
    ViewData["Title"] = "編輯獎池";
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Event">管理活動</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="EventDetail" asp-route-eventId="@Context.Request.RouteValues["eventId"]">活動詳情</a></li>
        <li><a asp-area="" asp-controller="Manage" asp-action="Pool" asp-route-eventId="@Context.Request.RouteValues["eventId"]">管理獎池</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="PoolEdit" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<h1 class="title is-3">@ViewData["Title"]</h1>
<hr />
<div class="box">
    <form asp-area="" asp-controller="Manage" asp-action="PoolEdit" asp-route-eventId="@Context.Request.RouteValues["eventId"]" asp-route-poolId="@Context.Request.RouteValues["poolId"]" method="post" role="form">
        <div class="field mb-5">
            <label asp-for="Name" class="label">名稱</label>
            <div class="control">
                <input asp-for="Name" class="input" type="text" placeholder="請輸入名稱" />
            </div>
            <span asp-validation-for="Name" class="help is-danger"></span>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-info" type="submit">修改</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}