@model ParticipantViewModel
@{
    ViewData["Title"] = "參與者詳情";
    var eventId = Context.Request.RouteValues["eventId"];
    var poolId = Context.Request.RouteValues["poolId"];
    var participantId = Context.Request.RouteValues["participantId"];
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Index">管理活動</a></li>
                <li><a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-eventId="@eventId">活動詳情</a></li>
        <li><a asp-area="" asp-controller="Pool" asp-action="Index" asp-route-eventId="@eventId">管理獎池</a></li>
        <li><a asp-area="" asp-controller="Pool" asp-action="Detail" asp-route-eventId="@eventId" asp-route-poolId="@poolId">獎池詳情</a></li>
        <li><a asp-area="" asp-controller="Participant" asp-action="Index" asp-route-eventId="@eventId" asp-route-poolId="@poolId">管理參與者</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Participant" asp-action="Detail" asp-route-eventId="@eventId" asp-route-poolId="@poolId" asp-route-participantId="@participantId" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<h1 class="title is-3">@ViewData["Title"]</h1>
<hr />
<div class="box">
    <form role="form">
        <div class="field mb-5">
            <label asp-for="Id" class="label">識別碼</label>
            <div class="control has-icons-left">
                <input asp-for="Id" class="input" type="text" placeholder="請輸入識別碼" disabled />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
            <span asp-validation-for="Id" class="help is-danger"></span>
        </div>
        @for (int index = 0; index < Model.Claims.Count; index++)
        {
            <input asp-for="@Model.Claims[index].Id" class="input" type="hidden" />
            <div class="field mb-5">
                <label asp-for="@Model.Claims[index].Value" class="label">
                    @if (Model.Claims[index].Field.Key)
                    {
                        <span class="has-text-danger">*</span>
                    }
                    <span>@Model.Claims[index].Field.Value</span>
                </label>
                <div class="control">
                    <input asp-for="@Model.Claims[index].Value" class="input" type="text" disabled />
                </div>
                <span asp-validation-for="@Model.Claims[index].Value" class="help is-danger"></span>
            </div>
            <input asp-for="@Model.Claims[index].Field.Id" class="input" type="hidden" />
            <input asp-for="@Model.Claims[index].Field.Key" class="input" type="hidden" />
            <input asp-for="@Model.Claims[index].Field.Show" class="input" type="hidden" />
            <input asp-for="@Model.Claims[index].Field.Security" class="input" type="hidden" />
            <input asp-for="@Model.Claims[index].Field.Value" class="input" type="hidden" />
        }
        <div class="field">
            <div class="control">
                <a asp-area="" asp-controller="Participant" asp-action="Edit" asp-route-eventId="@eventId" asp-route-poolId="@poolId" asp-route-participantId="@participantId" class="button is-link">編輯</a>
                <button id="delete-button" class="button is-danger" type="button">刪除</button>
            </div>
        </div>
    </form>
</div>
<div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <form asp-area="" asp-controller="Participant" asp-action="Delete" asp-route-eventId="@eventId" asp-route-poolId="@poolId" asp-route-participantId="@participantId" method="post" role="form" class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">您確定要刪除?</p>
            <button class="delete" aria-label="close" data-bulma-modal="close" type="button"></button>
        </header>
        <section class="modal-card-body">
            <article class="message is-danger">
                <div class="message-body">
                    <strong>請注意</strong>，此操作無法復原
                </div>
            </article>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" type="submit">確定</button>
            <button id="cancel-button" class="button" aria-label="close" type="button">取消</button>
        </footer>
    </form>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/delete-modal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/delete-modal.min.js" asp-append-version="true"></script>
    </environment>
}